dist
cabal-dev
*.exe
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
.idea/
*.iml
*.txt
*.bak
tmp.*
*.bc
test/**/*.ll
test/**/.*
